<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheChessBoard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <userSettings>
        <TheChessBoard.Properties.Settings>
            <setting name="WatchChessTime" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WhiteDefaultExecPath" serializeAs="String">
                <value>..\..\..\ChessArtificialRetard\bin\Debug\ChessArtificialRetard.exe</value>
            </setting>
            <setting name="WhiteDefaultExecArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="BlackDefaultExecPath" serializeAs="String">
                <value>..\..\..\ChessArtificialRetard\bin\Debug\ChessArtificialRetard.exe</value>
            </setting>
            <setting name="BlackDefaultExecArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSaveAIConfig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideAIWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AIExecPathHistory" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="AIExecArgumentsHistory" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </TheChessBoard.Properties.Settings>
    </userSettings>
</configuration>
